@charset "utf-8";
/* 禁用iPhone中Safari的字号自动调整 */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 625%;
}
/* 去除iPhone中默认的input样式 */
input {
  /* -webkit-appearance: none; */
  resize: none;
}
/* 取消链接高亮 */
body,
div,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
table,
th,
tr,
td,
tbody,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  -webkit-tap-highlight-color: transparent;
}
/* 设置HTML5元素为块元素 */
article,
aside,
details,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
/* 图片自适应 */
img {
  max-width: 100%;
  height: auto;
  width: auto\9;
  /* ie8 */
  -ms-interpolation-mode: bicubic;
  /* 照顾IE图片缩放失真 */
  vertical-align: middle;
}
*:focus {
  outline: none;
}
/* 清零 */
body,
div,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
table,
th,
tr,
td,
tbody,
article,
aside,
details,
figure,
figcaption,
header,
footer,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: none;
}
body {
  font-family: Helvetica Neue, Tahoma, Arial, PingFangSC-Regular, Hiragino Sans GB, Microsoft Yahei, sans-serif;
  color: rgba(0, 0, 0, 0.54);
  font-size: 0.16rem;
}
em,
i {
  font-style: normal;
}
strong,
h1 ~ h6 {
  font-weight: normal;
}
.clearfix:after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}
.clearfix {
  zoom: 1;
}
a,
a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.54);
}
ul,
li,
ol {
  list-style: none;
}
fieldset,
img {
  border: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th {
  text-align: left;
}
q:before,
q:after {
  content: "";
}
input:password {
  ime-mode: disabled;
}
* {
  box-sizing: border-box;
}
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.container {
  width: 6.4rem;
  margin: 0 auto;
  background: #f2f2f2;
}
header .search {
  display: flex;
  align-items: center;
  height: 0.7rem;
}
header .search .logo {
  flex: 0 0 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .search .logo img {
  width: 0.38rem;
}
header .search-box {
  position: relative;
  flex: 1;
  height: 0.55rem;
  line-height: 0.55rem;
  padding-left: 0.5rem;
  background: #fff;
}
header .search-box::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0.1rem;
  margin-top: -0.18rem;
  width: 0.36rem;
  height: 0.36rem;
  background: url('../images/icon-search.png') no-repeat;
  background-size: 0.36rem auto;
}
header .search .login {
  flex: 0 0 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .search .login img {
  width: 0.3rem;
}
header .scrollx {
  position: relative;
  height: 0.55rem;
  overflow: hidden;
}
header .scrollx .scrollx-content {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}
header .scrollx .scrollx-content .nav {
  height: 0.55rem;
  line-height: 0.55rem;
  margin-bottom: 2rem;
}
header .scrollx .scrollx-content .nav li {
  display: inline-block;
  padding: 0 0.15rem;
}
header .scrollx .scrollx-content .nav li.active {
  color: #ff5c00;
}
header .scrollx .scrollx-content .nav li.active a {
  position: relative;
  display: block;
  color: #ff5c00;
}
header .scrollx .scrollx-content .nav li.active a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.03rem;
  background: #ff5c00;
}
header .arrow {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4;
  width: 0.55rem;
  height: 0.55rem;
  background: #f2f2f2;
  box-shadow: -13px 0px 12px 5px #f2f2f2;
}
header .arrow i {
  display: block;
  width: 0.36rem;
  height: 0.36rem;
  background: url('../images/icon-arrow.png');
  background-size: 0.36rem auto;
  margin: 0.095rem auto;
  transition: all 0.5s linear;
}
header .arrow i.up {
  transform: rotate(180deg);
}
.all {
  position: absolute;
  top: 0.7rem;
  z-index: 3;
  width: 6.4rem;
  background: #f2f2f2;
}
.all .title {
  height: 0.55rem;
  line-height: 0.55rem;
  font-size: 0.18rem;
  text-indent: 0.1rem;
}
.all ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 6.4rem;
}
.all ul li {
  flex: 0 0 25%;
  padding: 0 0.1rem;
  margin-bottom: 0.1rem;
}
.all ul li.active a {
  color: #ff5c00;
  border: 0.01rem solid #ff5c00;
}
.all ul li a {
  display: block;
  margin: 0 auto;
  padding: 0.05rem;
  text-align: center;
  background: #fff;
  border: 0.01rem solid #f2f2f2;
  border-radius: 0.05rem;
}
.swiper-container {
  position: absolute;
  top: 1.25rem;
  bottom: 0.9rem;
  width: 6.4rem;
  margin: 0 auto;
}
.swiper-container1 {
  position: relative;
  overflow: hidden;
}
.icon-nav {
  display: flex;
  flex-wrap: wrap;
}
.icon-nav li {
  flex: 0 0 20%;
}
.icon-nav li a {
  display: block;
}
.threes {
  display: flex;
  background: #fff;
  margin-top: 0.15rem;
}
.threes-left {
  flex: 1;
  margin-right: 0.05rem;
}
.threes-left img {
  width: 100%;
  height: 100%;
}
.threes-right {
  flex: 1;
}
.threes-right-top {
  margin-bottom: 0.05rem;
}
.single {
  margin-top: 0.15rem;
}
.products ul {
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  font-size: 0.22rem;
}
.products ul li {
  flex: 0 0 49.5%;
}
.products ul li:nth-child(2n+1) {
  margin-right: 1%;
}
.products ul li a {
  display: block;
  padding: 0.15rem;
}
.products ul li a .name {
  font-size: 0.24rem;
  color: rgba(0, 0, 0, 0.87);
}
.products ul li a .info {
  color: rgba(0, 0, 0, 0.54);
}
.products ul li a .price {
  color: #ea625b;
}
.products .more {
  display: block;
  height: 0.9rem;
  line-height: 0.9rem;
  background: #fff;
  text-align: center;
  border-top: 0.01rem solid #ccc;
}
.footbar {
  position: fixed;
  left: 50%;
  bottom: 0;
  z-index: 999;
  width: 6.4rem;
  margin-left: -3.2rem;
  display: flex;
  align-items: center;
  height: 0.9rem;
  background: #fff;
}
.footbar a {
  flex: 1;
  display: block;
  width: 100%;
  height: 100%;
}
.footbar a img {
  display: block;
  width: 0.3rem;
  margin: 0.2rem auto 0.05rem;
}
.footbar a span {
  display: block;
  text-align: center;
}
.normal-header {
  display: flex;
  align-items: center;
  height: 0.6rem;
}
.normal-header div.normal-header-icon:last-child i {
  width: 0.4rem;
  height: 0.4rem;
  background-image: url('../images/icon-search.png');
  background-size: 0.4rem auto;
}
.normal-header-icon {
  flex: 0 0 1rem;
}
.normal-header-icon i {
  display: block;
  width: 0.36rem;
  height: 0.36rem;
  margin: 0 auto;
  background: url('../images/icon-arrow-left.png') no-repeat center / 0.36rem auto;
}
.normal-header-title {
  flex: 1;
  text-align: center;
  font-size: 0.22rem;
}
.cate {
  position: absolute;
  top: 0.6rem;
  bottom: 0.9rem;
  width: 6.4rem;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
}
.cate-left {
  flex: 0 0 1.35rem;
  border-right: 0.01rem solid #efefef;
}
.cate-left ul {
  background: #FEFEFE;
}
.cate-left ul li {
  height: 0.8rem;
  line-height: 0.8rem;
  text-align: center;
  font-size: 0.22rem;
}
.cate-left ul li.active {
  height: 1rem;
  line-height: 1rem;
  font-size: 0.25rem;
  color: #ff5c00;
}
.cate-right {
  flex: 1;
  padding: 0 0.3rem;
  background: #fff;
}
.cate-right ul li.problock .pic {
  margin-bottom: 0.3rem;
}
.cate-right ul li.problock .pros-title {
  height: 0.9rem;
  line-height: 0.9rem;
  font-size: 0.23rem;
  text-align: center;
}
.cate-right ul li.problock .pros-title span {
  position: relative;
}
.cate-right ul li.problock .pros-title span::before,
.cate-right ul li.problock .pros-title span::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 0.5rem;
  height: 0.02rem;
  background: #d7d7d7;
}
.cate-right ul li.problock .pros-title span::before {
  left: -0.7rem;
}
.cate-right ul li.problock .pros-title span::after {
  right: -0.7rem;
}
.cate-right ul li.problock .pros-goods ul {
  display: flex;
  flex-wrap: wrap;
}
.cate-right ul li.problock .pros-goods ul li {
  flex: 0 0 33.33333%;
}
.cate-right ul li.problock .pros-goods ul li a {
  display: block;
}
.cate-right ul li.problock .pros-goods ul li a img {
  display: block;
  width: 0.9rem;
  height: 0.9rem;
  margin: 0.1rem auto;
}
.cate-right ul li.problock .pros-goods ul li a div {
  height: 0.5rem;
  line-height: 0.5rem;
  text-align: center;
  font-size: 0.2rem;
}
.cate-right ul li.problock .prosmore {
  display: block;
  height: 0.7rem;
  line-height: 0.7rem;
  text-align: center;
  font-size: 0.22rem;
  background: #FAF3E5;
  margin-top: 0.1rem;
}
.login {
  display: flex;
  align-items: center;
  height: 0.9rem;
  background: #fff;
  padding: 0 0.3rem;
  font-size: 0.22rem;
}
.login span {
  flex: 1;
  color: #3c3c3c;
}
.login a {
  flex: 0 0 0.95rem;
  color: rgba(0, 0, 0, 0.54);
}
.cart {
  display: flex;
  align-items: center;
  font-size: 0.22rem;
  height: 1.05rem;
}
.cart div {
  flex: 1;
}
.cart div img {
  float: right;
  width: 0.65rem;
  height: 0.65rem;
}
.cart span {
  flex: 1;
  text-align: center;
}
.cart a {
  flex: 1;
  border: 0.02rem solid #bdbdbd;
  padding: 0.05rem 0.1rem;
}
.arrow {
  position: relative;
}
.arrow::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0.16rem;
  height: 0.16rem;
  margin-top: -0.08rem;
  border-top: 0.02rem solid #3c3c3c;
  border-right: 0.02rem solid #3c3c3c;
  transform: rotate(45deg);
}
.my {
  display: flex;
  align-items: center;
  height: 1.4rem;
  background: url('../images/bg-avatar.png') no-repeat #f37d0f;
  background-size: cover;
}
.my-avatar {
  flex: 0 0 1.2rem;
}
.my-avatar img {
  width: 0.8rem;
  height: 0.8rem;
  margin-left: 0.3rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}
.my-link {
  flex: 1;
  font-size: 0.22rem;
  padding-left: 0.1rem;
  color: #fff;
}
.my-link a {
  color: #fff;
}
.order {
  display: flex;
  align-items: center;
  height: 0.65rem;
  background: #fff;
  padding: 0 0.3rem;
  border-bottom: 0.02rem solid #ccc;
}
.order li {
  font-size: 0.22rem;
  flex: 1;
}
.order li a {
  color: rgba(0, 0, 0, 0.87);
}
.order li:last-child {
  padding-right: 0.2rem;
}
.order li:last-child a {
  float: right;
}
.state {
  display: flex;
  align-items: center;
  height: 1.5rem;
  background: #fff;
}
.state li {
  flex: 1;
  height: 0.8rem;
}
.state li a {
  display: block;
  height: 100%;
}
.state li a i {
  display: block;
  width: 0.4rem;
  height: 0.4rem;
  background: red;
  margin: 0 auto;
  background: url('../images/icon-wallet.png') no-repeat center / 0.4rem auto;
}
.state li a span {
  display: block;
  width: 100%;
  height: 0.5rem;
  line-height: 0.5rem;
  text-align: center;
  font-size: 0.2rem;
  color: rgba(0, 0, 0, 0.87);
}
.state li:nth-child(2) a i {
  background-image: url('../images/icon-car.png');
}
.state li:nth-child(3) a i {
  background-image: url('../images/icon-repaire.png');
}
.listMenu {
  padding-bottom: 1.1rem;
  background: #f5f5f5;
}
.listMenu.topm {
  margin-top: 0.2rem;
}
.listMenu li {
  height: 0.95rem;
  line-height: 0.95rem;
  background: #fff url('../images/icon-member.png') no-repeat 0.3rem center / 0.4rem auto;
  font-size: 0.22rem;
  color: rgba(0, 0, 0, 0.87);
  padding: 0 0 0 1rem;
}
.listMenu li.topm {
  margin-top: 0.2rem;
}
.listMenu li.arrow::after {
  right: 0.3rem;
}
.listMenu li:nth-child(2) {
  background-image: url('../images/icon-wallet-blue.png');
}
.listMenu li:nth-child(3) {
  background-image: url('../images/icon-service.png');
}
.listMenu li:nth-child(4) {
  background-image: url('../images/icon-mijia.png');
}
.listMenu li:nth-child(5) {
  background-image: url('../images/icon-f.png');
}
.listMenu li:nth-child(6) {
  background-image: url('../images/icon-set.png');
}
.listMenu li a {
  display: block;
  width: 100%;
  height: 100%;
  color: rgba(0, 0, 0, 0.87);
}
.listMenu li a.borderb {
  border-bottom: 0.02rem solid #ccc;
}
.phone-slide .swiper-icons {
  position: absolute;
  top: 0.15rem;
  z-index: 3;
  width: 0.55rem;
  height: 0.55rem;
  border-radius: 50%;
  background: url('../images/icon-arrow-left-white.png') no-repeat center / 0.25rem auto rgba(0, 0, 0, 0.4);
}
.phone-slide .swiper-icons.icon-left {
  left: 0.15rem;
}
.phone-slide .swiper-icons.icon-right {
  right: 0.15rem;
  background-image: url('../images/icon-share.png');
}
.phone-detail {
  background: #fff;
  padding: 0.3rem 0.3rem;
}
.phone-detail-title {
  font-size: 0.3rem;
  height: 0.5rem;
  line-height: 0.5rem;
  color: #3c3c3c;
}
.phone-detail-intro {
  font-size: 0.23rem;
  line-height: 0.33rem;
}
.phone-detail-intro span {
  color: #ff5c00;
}
.phone-detail-price {
  height: 0.8rem;
  line-height: 0.8rem;
  font-size: 0.4rem;
}
.phone-detail-price span {
  color: #ff5c00;
}
.phone-detail-price span:last-child {
  color: rgba(0, 0, 0, 0.54);
  text-decoration: line-through;
  font-size: 0.22rem;
  margin-left: 0.2rem;
}
.phone-detail-specs {
  overflow: hidden;
  background: #fff;
  height: 1.5rem;
  padding-bottom: 0.15rem;
}
.phone-detail-specs ul {
  height: 100%;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 5rem;
}
.phone-detail-specs ul li {
  display: inline-block;
  width: 1.5rem;
  border-right: 0.01rem solid #ccc;
}
.phone-detail-specs ul li img {
  display: block;
  margin: 0 auto;
}
.phone-detail-specs ul li div {
  text-align: center;
  color: #3c3c3c;
  font-size: 0.23rem;
  height: 0.3rem;
  line-height: 0.3rem;
}
.phone-detail-specs ul li div:last-child {
  font-size: 0.2rem;
  color: rgba(0, 0, 0, 0.54);
}
.phone-detail-choose {
  background: #fff;
}
.phone-detail-choose li {
  height: 0.65rem;
  line-height: 0.65rem;
  padding: 0 0.2rem;
  font-size: 0.22rem;
  background: #fafafa;
  border: 0.01rem solid #e9e9e9;
  border-radius: 0.2rem;
}
.phone-detail-choose li.bottomm {
  margin-bottom: 0.15rem;
}
.phone-detail-choose li.topr {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.phone-detail-choose li.nor {
  border-top: none;
  border-bottom: none;
  border-radius: 0;
}
.phone-detail-choose li.bottomr {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.phone-detail-choose li.arrow::after {
  right: 0.2rem;
  border-color: #ccc;
}
.phone-detail-choose li a {
  display: block;
}
.phone-detail-choose li a span {
  display: inline-block;
}
.phone-detail-choose li a span:first-child {
  width: 1rem;
  text-align: center;
}
.phone-detail-choose li a span.red {
  color: #ff5c00;
}
.phone-detail-choose li a span.bordered {
  height: 0.4rem;
  line-height: 0.4rem;
  padding: 0 0.1rem;
  border: 0.01rem solid #ff5c00;
  margin-right: 0.2rem;
}
.phone-detail-choose li a span:last-child {
  color: #3c3c3c;
}
.phone-detail-choose li a span.high {
  color: #ff5c00;
}
.phone-detail-choose li a span.xian {
  color: #ff5c00;
  margin-left: 0.2rem;
}
.phone-detail-choose li a span i {
  display: inline-block;
  width: 0.2rem;
  height: 0.2rem;
  background: url('../images/icon-choose.png') no-repeat center / 0.2rem auto;
}
.phone-detail-choose li:last-child a span {
  width: auto;
  margin-right: 0.2rem;
  padding-left: 0.2rem;
}
.swiper-container-comment {
  padding-top: 0.15rem;
  background: #fff;
  overflow: hidden;
}
.swiper-container-comment .swiper-wrapper .swiper-slide {
  width: 80%;
  padding: 0.3rem;
  color: rgba(0, 0, 0, 0.8);
  background: #fafafa;
  border: 0.01rem solid #e9e9e9;
  border-radius: 0.2rem;
  margin-right: 0.3rem;
}
.swiper-container-comment .swiper-wrapper .swiper-slide:last-child {
  margin-right: 0;
}
.swiper-container-comment .swiper-wrapper .swiper-slide .comment-title {
  display: flex;
  align-items: center;
  height: 0.7rem;
}
.swiper-container-comment .swiper-wrapper .swiper-slide .comment-title .avatar {
  flex: 0 0 0.6rem;
}
.swiper-container-comment .swiper-wrapper .swiper-slide .comment-title .avatar img {
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  object-fit: cover;
}
.swiper-container-comment .swiper-wrapper .swiper-slide .comment-title .info {
  flex: 1;
  padding: 0 0.2rem;
}
.swiper-container-comment .swiper-wrapper .swiper-slide .comment-title .info .name {
  font-size: 0.23rem;
}
.swiper-container-comment .swiper-wrapper .swiper-slide .comment-title .info .time {
  font-size: 0.2rem;
  color: rgba(0, 0, 0, 0.4);
}
.swiper-container-comment .swiper-wrapper .swiper-slide .comment-title .plaud {
  flex: 0 0 0.5rem;
}
.swiper-container-comment .swiper-wrapper .swiper-slide .comment-title .plaud i {
  display: inline-block;
  width: 0.25rem;
  height: 0.25rem;
  background: url('../images/phone/icon-plaud.png') no-repeat center / 0.25rem auto;
}
.swiper-container-comment .swiper-wrapper .swiper-slide .comment-title .plaud span {
  margin-left: 0.1rem;
  font-size: 0.2rem;
  color: rgba(0, 0, 0, 0.4);
}
.swiper-container-comment .swiper-wrapper .swiper-slide .comment-content {
  line-height: 0.35rem;
  font-size: 0.22rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.swiper-container-comment .swiper-wrapper .swiper-slide .comment-pics {
  padding: 0.1rem;
  overflow: hidden;
}
.swiper-container-comment .swiper-wrapper .swiper-slide .comment-pics li {
  float: left;
  width: 1.45rem;
  height: 1.1rem;
  margin-right: 0.15rem;
}
.swiper-container-comment .swiper-wrapper .swiper-slide .comment-pics li:last-child {
  margin-right: 0;
}
.swiper-container-comment .swiper-wrapper .swiper-slide .comment-pics li img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.2rem;
}
.swiper-container-comment .swiper-wrapper .swiper-slide .comment-reply {
  font-size: 0.2rem;
  line-height: 0.3rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.swiper-container-comment .swiper-wrapper .swiper-slide .comment-reply span {
  color: #ff5c00;
}
.swiper-container-comment .comment-more {
  height: 0.9rem;
  line-height: 0.9rem;
  font-size: 0.3rem;
}
.swiper-container-comment .comment-more a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 0.9rem;
  color: #4e72a5;
  text-align: center;
}
.swiper-container-comment .comment-more a i {
  margin-left: 0.1rem;
  border-width: 0.1rem;
  border-color: transparent transparent transparent #4e72a5;
  border-style: solid;
  display: inline-block;
  width: 0;
  height: 0;
  overflow: hidden;
}
.recommend {
  background: #fff;
}
.recommend .title {
  height: 1rem;
  line-height: 1rem;
  font-size: 0.3rem;
  color: rgba(0, 0, 0, 0.8);
}
.recommend ul li .img {
  border-radius: 0.3rem;
  overflow: hidden;
}
.recommend ul li .intro .price span {
  color: rgba(0, 0, 0, 0.4);
  text-decoration: line-through;
  font-size: 0.18rem;
  margin-left: 0.1rem;
}
.buy {
  position: fixed;
  left: 50%;
  bottom: -1.2rem;
  width: 6.2rem;
  height: 0.9rem;
  z-index: 2;
  margin-left: -3.1rem;
  background: #fff;
  border-radius: 0.2rem;
  box-shadow: 1px 1px 2px 3px #dbd5d5;
  transition: bottom 0.3s linear;
}
.buy.slideIn {
  bottom: 0.2rem;
}
.buy ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 0.3rem;
}
.buy ul li {
  flex: 0 0 0.9rem;
}
.buy ul li:last-child {
  flex: 1;
}
.buy ul li:nth-child(2) i {
  background-image: url('../images/icon-cart.png');
}
.buy ul li i {
  display: block;
  width: 0.4rem;
  height: 0.4rem;
  background: url('../images/icon-home.png') no-repeat center / 0.4rem auto;
  margin: 0 auto;
}
.buy ul li span {
  display: block;
  font-size: 0.18rem;
  text-align: center;
  line-height: 0.4rem;
}
.buy ul li a {
  float: right;
  display: block;
  width: 2.15rem;
  height: 0.55rem;
  line-height: 0.55rem;
  border-radius: 0.5rem;
  background: #ff5c00;
  text-align: center;
  color: #fff;
  font-size: 0.2rem;
}
.top {
  position: fixed;
  bottom: 1.5rem;
  left: 50%;
  z-index: 2;
  margin-left: 2.5rem;
  width: 0.5rem;
  height: 1.1rem;
}
.top div {
  width: 0.5rem;
  height: 0.5rem;
  background: url('../images/phone/icon-top.png') no-repeat center / 0.5rem auto;
  cursor: pointer;
}
.top div.activity {
  margin-bottom: 0.1rem;
  background-image: url('../images/phone/icon-nianhuojie.gif');
}
