* {
  margin: 0;
  padding: 0px 0 0 0;
  box-sizing: border-box;
}
.gallery-content {
  width: 100%;
  height: 500px;
  max-width: 1000px;
  user-select: none;
  box-shadow: 0 0 3px 1px #00000078;
  padding: 10px;
  margin: 30px auto 0 auto;
  .slide-show-container {
    width: 100%;
    height: 90%;
    overflow: hidden;
    position: relative;
    .left-arrow {
      width: 50px;
      background: #00000036;
      position: absolute;
      left: 0;
      z-index: 1;
      transition: background 0.5s;
      height: 72px;
      top: 50%;
      transform: translateY(-50%);
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      &:hover {
        background: #000000a8;
        cursor: pointer;
      }
    }
    .right-arrow {
      width: 50px;
      background: #00000036;
      position: absolute;
      right: 0;
      z-index: 1;
      transition: background 0.5s;
      height: 72px;
      top: 50%;
      transform: translateY(-50%);
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      &:hover {
        background: #000000a8;
        cursor: pointer;
      }
    }
    .arrow {
      display: inline-block;
      border: 3px solid white;
      width: 10px;
      height: 10px;
      border-left: none;
      border-bottom: none;
      margin: auto;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
    .arrow-left {
      transform: rotate(-135deg);
    }
    .arrow-right {
      transform: rotate(45deg);
    }
    .caption-holder {
      position: absolute;
      bottom: 0;
      z-index: 1;
      color: white;
      font-family: sans-serif;
      font-size: 20px;
      text-align: center;
      width: 100%;
      background: #00000047;
      height: 50px;
      line-height: 50px;
      overflow: hidden;
    }
    #play-pause-btn {
      width: 32px;
      height: 32px;
      position: absolute;
      z-index: 5;
      margin: 5px;
      cursor: pointer;
      background: url(../images/playPause.png) no-repeat;
      background-size: cover;
    }
    .image-holder {
      width: 100%;
      height: 100%;
      position: absolute;
      opacity: 0;
      img {
        width: 100%;
        height: 100%;
      }
      .caption-text {
        display: none;
      }
    }
  }
  #dots-container {
    width: 100%;
    height: 10%;
    text-align: center;
    padding: 20px 0 0 0;
    .dots {
      display: inline-block;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      margin-left: 10px;
      background-color: #bbb;
      cursor: pointer;
      transition: background-color 0.5s;
      &:first-child {
        margin-left: 0;
      }
      &:hover {
        background-color: #717171;
      }
      &.active {
        background-color: #717171;
      }
    }
  }
  .move-left-current-slide {
    animation-name: move-left-current;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }
  .move-left-next-slide {
    animation-name: move-left-next;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }
  .move-right-current-slide {
    animation-name: move-right-current;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }
  .move-right-next-slide {
    animation-name: move-right-next;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }
  .slide-text-from-bottom {
    animation-name: slide-text-from-bottom;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
  }
  .slide-text-from-top {
    animation-name: slide-text-from-top;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
  }

  @keyframes move-left-current {
    from {
      margin-left: 0;
      opacity: 1;
    }
    to {
      margin-left: -100%;
      opacity: 1;
    }
  }
  @keyframes move-left-next {
    from {
      margin-left: 100%;
      opacity: 1;
    }
    to {
      margin-left: 0;
      opacity: 1;
    }
  }
  @keyframes move-right-current {
    from {
      margin-left: 0;
      opacity: 1;
    }
    to {
      margin-left: 100%;
      opacity: 1;
    }
  }
  @keyframes move-right-next {
    from {
      margin-left: -100%;
      opacity: 1;
    }
    to {
      margin-left: 0;
      opacity: 1;
    }
  }
  @keyframes slide-text-from-bottom {
    from {
      opacity: 0;
      margin-top: 100px;
    }
    to {
      opacity: 1;
      margin-top: 0px;
    }
  }
  @keyframes slide-text-from-top {
    from {
      opacity: 0;
      margin-top: -100px;
    }
    to {
      opacity: 1;
      margin-top: 0px;
    }
  }
}
