@mixin flexCenter($direction) {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

header {
  @include flexCenter(column);
  background: lightblue;
  color: $textColor;
  button {
    background: $primaryBtn;
  }

  /* 设定父元素的伪元素 */
  &:hover {
    background: red;
  }
}
