$default-font: 16px;

@function toRem($px) {
  @return $px / $default-font * 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: toRem(16px);
}
body.dark {
  .sidebar {
    background: #212121;
    .title {
      color: #ffffff;
    }
    ul {
      li {
        a {
          color: #ffffff;
          .delta {
            border-color: red transparent transparent transparent;
          }
        }
      }
    }
  }
  .main {
    background: #212121;
    .nav {
      background: #212121;
      .list-left {
        i {
          color: #ffffff;
        }
      }
      .list-right {
        .icon-list {
          li {
            color: #ffffff;
          }
        }
        .theme-label {
          background: #ffffff;
          .ball {
            background: #212121;
            border-radius: 50%;
            position: absolute;
            width: 22px;
            height: 22px;
            top: 2px;
            left: 2px;
            transition: transform 0.2s linear;
          }
        }
      }
    }
    .square {
      background: #181818;
      .item-wrapper {
        .item {
          a {
            color: #ffffff;
          }
          .list-icon {
            li {
              color: #ffffff !important;
            }
          }
        }
      }
    }
  }
}
li {
  list-style: none;
}
.container {
  width: calc(100% - 180px);
  height: 100%;
  position: absolute;
  .icon-size {
    font-size: 22px;
  }
  .over-draw {
    position: fixed;
    left: -100%;
    transition: left 0.3s ease;
    &.active {
      left: 0;
    }
  }
  .sidebar {
    width: 180px;
    height: 100%;
    position: fixed;
    background: #ffffff;
    transition: background 0.2s ease;
    .title {
      width: 100%;
      height: 50px;
      margin: 10px 0 10px 0px;
      font-weight: 700;
      display: flex;
      line-height: 42px;
      justify-content: center;
      align-items: center;
      .main-logo {
        width: 32px;
        height: 32px;
        margin: 0 7px 10px 0;
      }
    }
    ul {
      width: 100%;
      height: 100%;
      list-style: none;
      margin: -10px 0 0 0;
      li {
        line-height: 50px;
        &.active > a {
          border-left: 3px solid #dddddd;
        }
        a {
          position: relative;
          text-decoration: none;
          padding: 0 0 0 56px;
          display: block;
          width: 100%;
          color: rgba(0, 0, 0, 0.85);
          border-left: 4px solid transparent;
          &.sidebar-item.active {
            border-left: 4px solid #ed4040;
          }
          .delta {
            width: 0px;
            height: 0px;
            border: 5px solid;
            border-color: rgba(0, 0, 0, 0.85) transparent transparent
              transparent;
            position: absolute;
            right: 12px;
            top: 55%;
            transform: translateY(-55%);
            transition: transform 0.4s ease;
            &.active {
              transform: translateY(-55%) rotate(180deg);
            }
          }
        }
      }
      ul {
        position: static;
        display: none;
        li {
          line-height: 40px;
        }
        a {
          font-size: 14px;
          padding: 0 0 0 65px;
          &:hover {
            color: #ed4040;
          }
        }
        &.feat-show.active {
          display: block;
        }
        &.serv-show.active1 {
          display: block;
        }
      }
    }
  }
  .main {
    width: 100%;
    margin: 0 0 0 180px;
    padding: 0 0 40px 0;
    background: #ffffff;
    .nav {
      /* fixed 会脱离文档流 需要做减法 */
      position: fixed;
      width: calc(100% - 180px);
      height: 55px;
      margin: 0px auto 0px auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #ffffff;
      transition: background 0.2s ease;
      .list-left {
        opacity: 0;
        pointer-events: none;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .list-right {
        display: flex;
        .icon-list {
          display: flex;
          justify-content: center;
          align-items: center;
          li {
            margin-right: 15px;
            cursor: pointer;
            &:last-child {
              margin-right: 24px;
            }
          }
        }
        .theme-check {
          position: absolute;
          opacity: 0;
          &:checked + label .ball {
            width: 23px;
            height: 23px;
            transform: translateX(27px);
          }
        }
        .theme-label {
          background: rgba(0, 0, 0, 0.85);
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: relative;
          padding: 5px;
          border-radius: 50px;
          width: 55px;
          height: 28px;
          cursor: pointer;
          right: 10px;
          .ball {
            background: #ffffff;
            border-radius: 50%;
            position: absolute;
            width: 22px;
            height: 22px;
            top: 3px;
            left: 3px;
            transition: transform 0.2s linear;
          }
        }
      }
    }
    .square {
      width: 100%;
      background: #f9f9f9;
      margin: 0px auto 0px auto;
      display: flex;
      flex-direction: column;
      transition: background 0.2s ease;
      .item-wrapper {
        .item {
          width: 100%;
          height: 60px;
          a {
            width: 100%;
            height: 60px;
            text-decoration: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: rgba(0, 0, 0, 0.85);
            .title {
              margin: 0 0 0 15px;
              &:hover {
                color: #ed4040;
              }
            }
            .list-icon {
              display: flex;
              li {
                margin: 0 15px 0 0;
                color: rgba(0, 0, 0, 0.45);
              }
            }
          }
        }
        .loading-end{
          width: 100%;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #ed4040;
        }
      }
    }
  }
}
.loading-box {
  position: fixed;
  bottom: 0;
  width: calc(100% - 185px);
  left: 185px;
  height: 40px;
  // background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
  z-index: 3;
  opacity: 0;
  &.active {
    opacity: 1;
  }
}

@media (max-width: 767px) {
  .container {
    /* 方便让子元素继承 css对父子元素匹配非常敏感了 */
    width: 100%;
    .over-draw.active {
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 3;
      background: rgba(0, 0, 0, 0.85);
      ul {
        width: 100%;
        height: 100%;
        li {
          width: 100%;
          height: 14.3%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 20px;
          font-weight: 700;
          background: rgba(0, 0, 0, 0.85);
          a {
            color: white;
            text-decoration: none;
          }
        }
      }
      .close-btn {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #fff;
        position: absolute;
        right: 10px;
        top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }
    .sidebar {
      display: none;
    }
    .main {
      min-width: 100%;
      margin-left: 0px;
      .nav {
        width: 100%;
        .list-left {
          pointer-events: auto;
          opacity: 1;
        }
      }
      .square {
        .item-wrapper {
          .item {
            a {
              ul {
                li {
                  &:nth-child(2) {
                    display: none;
                  }
                  &:nth-child(3) {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .loading-box {
    width: 100%;
    left: 0;
  }
}

@media (max-width: 500px) {
  .container {
    .main {
      .square {
        .item-wrapper {
          .item {
            .title {
              font-size: 12px;
            }
            .list-icon {
              li {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
  .loading-box {
    width: 100%;
    left: 0;
  }
}
