#main {
  min-height: 500px;
  background: #f4f4f4;
  border-bottom: 1px solid rgb(222, 222, 222);
  overflow: hidden;
  font-size: 14px;
}
#main .container .carousel .l-wrapper {
  width: 200px;
  height: 480px;
  background: #ffffff;
  margin-top: 10px;
  position: relative;
}
#main .container .carousel .m-wrapper {
  width: 780px;
  height: 480px;
  margin: 10px 0 0 10px;
}
#main .container .carousel .r-wrapper {
  width: 190px;
  height: 480px;
  margin: 10px 0 0 10px;
  background: #ffffff;
}
#main .container .carousel .l-wrapper ul li {
  width: 100%;
  height: 28px;
  line-height: 28px;
  position: relative;
}
#main .container .carousel .l-wrapper ul li ul{
  width: 730px;
  height: 490px;
  border: 1px solid #dddddd;
  background: #ffffff;
  z-index: 11;
  position: absolute;
  left: 190px;
  transition: all 0.5s;
  display: none;
  opacity: 0;
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.3);
}
#main .container .carousel .l-wrapper ul li ul .title-wrapper span{
  display: inline-block;
  padding: 0px 10px;
  background: #333;
  color: #ffffff;
  font-size: 12px;
  margin:10px 0 0 10px;
}
#main .container .carousel .l-wrapper ul li ul .title-wrapper span svg{
  font-size: 10px;
  transform: translateY(-1px) translateX(-1px);
  color: #ffffff;
}
#main .container .carousel .l-wrapper ul li:nth-child(1) ul{
  top: -5px;
}
#main .container .carousel .l-wrapper ul li:nth-child(2) ul{
  top: -33px;
}
#main .container .carousel .l-wrapper ul li:nth-child(3) ul{
  top: -61px;
}
#main .container .carousel .l-wrapper ul li:nth-child(4) ul{
  top: -89px;
}
#main .container .carousel .l-wrapper ul li:nth-child(5) ul{
  top: -117px;
}
#main .container .carousel .l-wrapper ul li:nth-child(6) ul{
  top: -145px;
}
#main .container .carousel .l-wrapper ul li:nth-child(7) ul{
  top: -173px;
}
#main .container .carousel .l-wrapper ul li:nth-child(8) ul{
  top: -201px;
}
#main .container .carousel .l-wrapper ul li:nth-child(9) ul{
  top: -229px;
}
#main .container .carousel .l-wrapper ul li:nth-child(10) ul{
  top: -257px;
}
#main .container .carousel .l-wrapper ul li:nth-child(11) ul{
  top: -285px;
}
#main .container .carousel .l-wrapper ul li:nth-child(12) ul{
  top: -313px;
}
#main .container .carousel .l-wrapper ul li:nth-child(13) ul{
  top: -341px;
}
#main .container .carousel .l-wrapper ul li:nth-child(14) ul{
  top: -369px;
}
#main .container .carousel .l-wrapper ul li:nth-child(15) ul{
  top: -397px;
}
#main .container .carousel .l-wrapper ul li:nth-child(16) ul{
  top: -425px;
}
#main .container .carousel .l-wrapper ul li:nth-child(17) ul{
  top: -453px;
}
#main .container .carousel .l-wrapper ul li:hover {
  background: #d9d9d9;
}
#main .container .carousel .l-wrapper ul li a {
  font-size: 14px;
  color: #3c3c3c;
  height: 30px;
}
#main .container .carousel .l-wrapper ul li a:hover {
  color: #c81623;
}
#main .container .carousel .l-wrapper ul li:hover > ul,
#main .container .carousel .l-wrapper ul li a:hover + ul{
  display: block;
  opacity: 1;
}
#main .container .carousel .l-wrapper ul li ul .list-wrapper .item{
  margin:10px 0 0 10px;
  font-size: 12px;
  color: #999;
  cursor: pointer;
  text-align: right;
}
#main .container .carousel .l-wrapper ul li ul .list-wrapper .item:first-child{
  font-weight: 800;
  color: #3c3c3c;
}
#main .container .carousel .l-wrapper ul li ul .list-wrapper .item svg{
  font-size: 10px;
  transform: translateY(-1px);
}
#main .container .carousel .l-wrapper ul li a:first-child {
  margin-left: 10px;
}
#main .container .carousel .l-wrapper ul li .main-line {
  display: inline-block;
  font-size: 14px;
  margin: 0px 0px 0 0px;
}
#main .container .carousel .m-wrapper .m-l {
  width: 580px;
  height: 100%;
  background: #ffffff;
  position: relative;
  overflow: hidden;
}
#main .container .carousel .m-wrapper .m-l #img-wrapper .carousel-img-item {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}
#main
  .container
  .carousel
  .m-wrapper
  .m-l
  #img-wrapper
  .carousel-img-item.active {
  z-index: 2;
  opacity: 1;
}
#main .container .carousel .m-wrapper .m-l #carousel-point-list {
  list-style: none;
  position: absolute;
  bottom: 20px;
  left: 15px;
  z-index: 3;
}
#main .container .carousel .m-wrapper .m-l #carousel-point-list .point {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  float: left;
  margin-right: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.3);
  background: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: all 0.3s;
}
#main .container .carousel .m-wrapper .m-l #carousel-point-list .point.active {
  background: #ffffff;
}
#main .container .carousel .m-wrapper .m-l #carousel-pre-btn {
  width: 40px;
  height: 50px;
  position: absolute;
  top: 225px;
  z-index: 3;
  left: 0px;
  text-align: center;
  line-height: 50px;
  background: rgba(0, 0, 0, 0.15);
  cursor: pointer;
  user-select: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  border-radius: 0px 8px 8px 0px;
}
#main .container .carousel .m-wrapper .m-l #carousel-next-btn {
  width: 40px;
  height: 50px;
  position: absolute;
  top: 225px;
  z-index: 3;
  right: 0px;
  text-align: center;
  line-height: 50px;
  background: rgba(0, 0, 0, 0.15);
  cursor: pointer;
  user-select: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px 0px 0px 8px;
}
#main .container .carousel .m-wrapper .m-l #carousel-pre-btn:hover {
  background: rgba(0, 0, 0, 0.4);
}
#main .container .carousel .m-wrapper .m-l #carousel-next-btn:hover {
  background: rgba(0, 0, 0, 0.4);
}
#main .container .carousel .m-wrapper .m-r {
  width: 190px;
  height: 100%;
  margin-left: 10px;
}
#main .container .carousel .m-wrapper .m-r .item {
  width: 190px;
  height: 153.333333px;
  border: 1px solid #d9d9d9;
}
#main .container .carousel .m-wrapper .m-r .item img {
  width: 100%;
  height: 100%;
}
#main .container .carousel .m-wrapper .m-r .item:not(:first-child) {
  margin-top: 10px;
}
#main .container .carousel .r-wrapper .login-state {
  height: 102px;
  position: relative;
}
#main .container .carousel .r-wrapper .login-state::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 90px;
  background: #eeeeee;
  bottom: 0px;
  left: 50px;
}
#main .container .carousel .r-wrapper .login-state .state-wrapper .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #999;
  margin-top: 18px;
  margin-left: 19px;
  font-size: 24px;
  text-align: center;
  line-height: 34px;
}
#main .container .carousel .r-wrapper .login-state .state-wrapper .avatar a {
  color: #3c3c3c;
}
#main .container .carousel .r-wrapper .login-state .state-wrapper .info {
  margin-top: 24px;
  margin-left: 12px;
  font-size: 12px;
}
#main
  .container
  .carousel
  .r-wrapper
  .login-state
  .state-wrapper
  .info
  .login-bar {
  margin-top: 6px;
  font-size: 12px;
}
#main
  .container
  .carousel
  .r-wrapper
  .login-state
  .state-wrapper
  .info
  .login-bar
  a {
  color: #3c3c3c;
}
#main
  .container
  .carousel
  .r-wrapper
  .login-state
  .state-wrapper
  .info
  .login-bar
  a:not(:first-child)::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 10px;
  border-right: 1px solid #999;
  margin: -2px 5px 0 5px;
}
#main
  .container
  .carousel
  .r-wrapper
  .login-state
  .state-wrapper
  .info
  .login-bar
  a:hover {
  color: #e1251b;
}
#main .container .carousel .r-wrapper .login-state .state-wrapper .item-bar {
  position: absolute;
  left: 0;
  bottom: 11px;
}
#main
  .container
  .carousel
  .r-wrapper
  .login-state
  .state-wrapper
  .item-bar
  .new {
  width: 74px;
  height: 25px;
  background: #e1251b;
  text-align: center;
  line-height: 25px;
  border-radius: 10px;
  margin-left: 18px;
}
#main
  .container
  .carousel
  .r-wrapper
  .login-state
  .state-wrapper
  .item-bar
  .new
  a {
  color: #ffffff;
}
#main
  .container
  .carousel
  .r-wrapper
  .login-state
  .state-wrapper
  .item-bar
  .member {
  width: 74px;
  height: 25px;
  background: #363634;
  text-align: center;
  line-height: 25px;
  border-radius: 10px;
  margin-left: 10px;
}
#main
  .container
  .carousel
  .r-wrapper
  .login-state
  .state-wrapper
  .item-bar
  .member
  a {
  color: #e5d790;
}
#main .container .carousel .r-wrapper .news-wrapper {
  position: relative;
  margin-left: 15px;
  margin-top: 10px;
  height: 115px;
}
#main .container .carousel .r-wrapper .news-wrapper .new-hd .hd-l h5 {
  font-weight: bold;
}
#main .container .carousel .r-wrapper .news-wrapper .new-hd .hd-r {
  font-size: 12px;
  margin-right: 18px;
  margin-top: 2px;
}
#main .container .carousel .r-wrapper .news-wrapper .news-list {
  margin-top: 10px;
  width: 160px;
  font-size: 12px;
}
#main .container .carousel .r-wrapper .news-wrapper .news-list .item {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 20px;
}
#main
  .container
  .carousel
  .r-wrapper
  .news-wrapper
  .news-list
  .item
  .list-title {
  display: inline-block;
  width: 32px;
  line-height: 18px;
  background: rgba(225, 37, 27, 0.08);
  color: #e1251b;
  text-align: center;
  margin-right: 6px;
}
#main
  .container
  .carousel
  .r-wrapper
  .news-wrapper
  .news-list
  .item
  .list-info {
  color: #3c3c3c;
}
#main .container .carousel .r-wrapper .news-wrapper::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 90px;
  background: #eeeeee;
  bottom: 0px;
  left: 35px;
}
#main .container .carousel .r-wrapper .service .row-item .item-wrapper {
  position: relative;
  width: 63px;
  height: 62px;
  font-size: 30px;
  text-align: center;
}
#main .container .carousel .r-wrapper .service .row-item .item-wrapper svg {
  margin-top: 5px;
}
#main .container .carousel .r-wrapper .service .row-item .item-wrapper .info {
  font-size: 12px;
  margin-top: 8px;
}
#main
  .container
  .carousel
  .r-wrapper
  .service
  .row-item:first-child
  .item-wrapper:nth-child(1)
  svg {
  color: rgb(84, 84, 253);
}
#main
  .container
  .carousel
  .r-wrapper
  .service
  .row-item:first-child
  .item-wrapper:nth-child(2)
  svg {
  color: rgb(216, 145, 63);
}
#main
  .container
  .carousel
  .r-wrapper
  .service
  .row-item:first-child
  .item-wrapper:nth-child(3)
  svg {
  color: rgb(42, 178, 219);
}
#main
  .container
  .carousel
  .r-wrapper
  .service
  .row-item:nth-child(2)
  .item-wrapper:nth-child(1)
  svg {
  color: rgb(194, 104, 52);
}
#main
  .container
  .carousel
  .r-wrapper
  .service
  .row-item:nth-child(2)
  .item-wrapper:nth-child(2)
  svg {
  color: rgb(26, 199, 147);
}
#main
  .container
  .carousel
  .r-wrapper
  .service
  .row-item:nth-child(2)
  .item-wrapper:nth-child(3)
  svg {
  color: rgb(223, 80, 80);
}
#main
  .container
  .carousel
  .r-wrapper
  .service
  .row-item:nth-child(3)
  .item-wrapper:nth-child(1)
  svg {
  color: rgb(93, 224, 247);
}
#main
  .container
  .carousel
  .r-wrapper
  .service
  .row-item:nth-child(3)
  .item-wrapper:nth-child(2)
  svg {
  color: rgb(99, 123, 189);
}
#main
  .container
  .carousel
  .r-wrapper
  .service
  .row-item:nth-child(3)
  .item-wrapper:nth-child(3)
  svg {
  color: rgb(250, 123, 116);
}
#main
  .container
  .carousel
  .r-wrapper
  .service
  .row-item:nth-child(4)
  .item-wrapper:nth-child(1)
  svg {
  color: rgb(168, 42, 35);
}
#main
  .container
  .carousel
  .r-wrapper
  .service
  .row-item:nth-child(4)
  .item-wrapper:nth-child(2)
  svg {
  color: rgb(43, 167, 80);
}
#main
  .container
  .carousel
  .r-wrapper
  .service
  .row-item:nth-child(4)
  .item-wrapper:nth-child(3)
  svg {
  color: rgb(229, 153, 11);
}
#main .container .countdown {
  width: 1190px;
  height: 260px;
  background: #ddd;
  margin-top: 10px;
  overflow: hidden;
}
#main .container .countdown .countdown-hd {
  width: 190px;
  height: 260px;
  background-image: url(../images/countdown-1.png);
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
}
#main .container .countdown .countdown-hd .title {
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: 700px;
  margin-top: 42px;
  color: #ffffff;
}
#main .container .countdown .countdown-hd .desc {
  width: 100%;
  text-align: center;
  margin-top: 100px;
  color: #ffffff;
}
#main .container .countdown .countdown-hd .desc strong {
  font-size: 18px;
  font-weight: 600;
}
#main .container .countdown .countdown-hd .timer {
  width: 159px;
  margin-top: 24px;
  margin-left: 28px;
}
#main .container .countdown .countdown-hd .timer span {
  position: relative;
  display: block;
  float: left;
  width: 33px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #2f3430;
  /*给after留出空间*/
  margin-right: 20px;
  color: white;
  font-size: 20px;
}
#main .container .countdown .countdown-hd .timer span:not(:first-child)::after {
  content: ":";
  display: block;
  position: absolute;
  font-weight: bolder;
  width: 20px;
  top: -2px;
  left: -20px;
}
#main .container .countdown .item-wrapper .item {
  display: block;
  position: relative;
  width: 200px;
  height: 260px;
  background: #ffffff;
  opacity: 1;
}
#main .container .countdown .item-wrapper .item img {
  transition: opacity 0.2s linear;
}
#main .container .countdown .item-wrapper .item img:hover {
  opacity: 0.7;
}
#main .container .countdown .item-wrapper .item:not(:last-child)::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 200px;
  transform: translateY(-50%);
  background: linear-gradient(180deg, white, #eeeeee, white);
}
#main .container .countdown .item-wrapper .item img {
  margin: 26px auto 0 auto;
}
#main .container .countdown .item-wrapper .item .info {
  width: 160px;
  margin: 16px auto 0 auto;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#main .container .countdown .item-wrapper .item .item-price {
  width: 160px;
  height: 24px;
  margin: 16px auto 0 auto;
  border: 1px solid #e1251b;
  position: relative;
  overflow: hidden;
  line-height: 24px;
  background: #e1251b;
}
#main .container .countdown .item-wrapper .item .item-price .price-miaosha {
  width: 92px;
  height: 100%;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  float: left;
}
#main
  .container
  .countdown
  .item-wrapper
  .item
  .item-price
  .price-miaosha::before {
  content: " ";
  width: 0;
  height: 0;
  border-color: transparent white transparent transparent;
  border-style: solid;
  border-width: 22px 8px 0 0;
  position: absolute;
  top: 0;
  left: 84px;
}
#main .container .countdown .item-wrapper .item .item-price .price-origin {
  height: 100%;
  width: 66px;
  float: right;
  background: #ffffff;
  text-align: center;
  color: #999;
  font-size: 12px;
  line-height: 22px;
  text-decoration: line-through;
}
#main .container .countdown .countdown-carousel {
  width: 200px;
  height: 100%;
  background: #ffffff;
  overflow: hidden;
  position: relative;
}
#main .container .countdown .countdown-carousel .countdown-img-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}
#main
  .container
  .countdown
  .countdown-carousel
  .countdown-img-wrapper
  p:nth-child(2) {
  font-weight: 600;
}
#main .container .countdown .countdown-carousel .countdown-img-wrapper img {
  width: 120px;
  height: 120px;
  margin: 15px auto 0 auto;
}
#main
  .container
  .countdown
  .countdown-carousel
  .countdown-img-wrapper
  .item-info {
  margin: 10px 0 0 0;
  height: 115px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.5),
    rgba(220, 224, 236, 0.5)
  );
  text-align: center;
  line-height: 25px;
}
#main
  .container
  .countdown
  .countdown-carousel
  .countdown-img-wrapper
  .item-info
  .circle {
  width: 90px;
  border: 1px solid #e1251b;
  margin: 5px auto 0 auto;
  border-radius: 15px;
}
#main .container .countdown .countdown-carousel .dots {
  position: absolute;
  width: 200px;
  bottom: 0px;
  height: 25px;
  line-height: 24px;
  text-align: center;
}
#main .container .countdown .countdown-carousel .dots .dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-left: 2px;
  background: #c9c9c9;
  cursor: pointer;
  transition: all 0.5s;
  z-index: 5;
}
#main .container .countdown .countdown-carousel .dots .dot.active {
  background: #e1251b;
}
#main .container .countdown .countdown-carousel .move-left-current-slide {
  animation-name: moveLeftCurrent;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
#main .container .countdown .countdown-carousel .move-left-next-slide {
  animation-name: moveLeftNext;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes moveLeftCurrent {
  from {
    margin-left: 0;
    opacity: 1;
  }
  to {
    margin-left: -100%;
    opacity: 1;
  }
}
@keyframes moveLeftNext {
  from {
    margin-left: 100%;
    opacity: 1;
  }
  to {
    margin-left: 0%;
    opacity: 1;
  }
}
#main .container .countdown .countdown-carousel .move-right-current-slide {
  animation-name: moveRightCurrent;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
#main .container .countdown .countdown-carousel .move-right-next-slide {
  animation-name: moveRightNext;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes moveRightCurrent {
  from {
    margin-left: 0;
    opacity: 1;
  }
  to {
    margin-left: 100%;
    opacity: 1;
  }
}
@keyframes moveRightNext {
  from {
    margin-left: -100%;
    opacity: 1;
  }
  to {
    margin-left: 0%;
    opacity: 1;
  }
}
#main .container .special-offer {
  margin-top: 10px;
  height: 340px;
}
#main .container .special-offer .item-l {
  width: 590px;
  height: 100%;
  background: #ffffff;
}
#main .container .special-offer .item-l .title,
#main .container .special-offer .item-r .title {
  width: 100%;
  height: 63px;
  line-height: 63px;
  position: relative;
  overflow: hidden;
}
#main .container .special-offer .item-l .title .info,
#main .container .special-offer .item-r .title .info {
  font-size: 18px;
  font-weight: 700;
  margin-left: 20px;
}
#main .container .special-offer .item-l .title .offer-icon,
#main .container .special-offer .item-r .title .offer-icon {
  display: block;
  position: absolute;
  top: 25px;
  left: 92px;
  width: 16px;
  height: 16px;
  border: 1px solid #e1251b;
  border-radius: 50%;
  font-size: 12px;
  margin-left: 8px;
  line-height: 10px;
  text-align: center;
}
#main .container .special-offer .item-l .title .offer-icon svg,
#main .container .special-offer .item-r .title .offer-icon svg {
  font-size: 8px;
  color: #e1251b;
  transform: translateX(-1px);
}
#main .container .special-offer .item-l ul li {
  margin-right: 10px;
}
#main .container .special-offer .item-l ul li a:hover {
  color: #e1251b;
}
#main .container .special-offer .item-l .special-list {
  width: 560px;
  height: 270px;
  margin: 0 auto;
}
#main .container .special-offer .item-l .special-list .special-item-l {
  width: 170px;
  height: 265px;
  background: #f4f5f6;
  position: relative;
}
#main .container .special-offer .item-l .special-list .special-item-l .message {
  width: 90px;
  height: 24px;
  background-image: url(../images/special-m-1.png);
  background-position: 50%;
  background-size: contain;
  color: #ffffff;
  text-align: center;
  line-height: 24px;
}
#main .container .special-offer .item-l .special-list .special-item-l img {
  margin: 10px auto 10px auto;
}
#main
  .container
  .special-offer
  .item-l
  .special-list
  .special-item-l
  .special-title {
  text-align: center;
  margin-top: 10px;
}
#main
  .container
  .special-offer
  .item-l
  .special-list
  .special-item-l
  .special-title
  a {
  color: #333;
}
#main .container .special-offer .item-l .special-list .special-item-l .price {
  text-align: center;
  font-size: 17px;
  color: #e1251b;
  margin-top: 10px;
}
#main
  .container
  .special-offer
  .item-l
  .special-list
  .special-item-l
  .price
  .origin {
  text-decoration: line-through;
  font-size: 12px;
  color: #999;
}
#main .container .special-offer .item-l .special-list .special-item-l .info {
  margin-top: 10px;
  text-align: center;
  font-size: 12px;
  color: #999;
}
#main
  .container
  .special-offer
  .item-l
  .special-list
  .special-item-l
  .info
  span {
  color: #e1251b;
}
#main .container .special-offer .item-l .special-list .special-item-r {
  margin-left: 10px;
}
#main
  .container
  .special-offer
  .item-l
  .special-list
  .special-item-r
  .row-wrapper {
  width: 380px;
  height: 265px;
}
#main
  .container
  .special-offer
  .item-l
  .special-list
  .special-item-r
  .row-wrapper
  .item {
  width: 190px;
  height: 132.5px;
}
#main
  .container
  .special-offer
  .item-l
  .special-list
  .special-item-r
  .row-wrapper
  .item
  .img-wrapper {
  width: 84px;
  height: 84px;
  margin-top: 20px;
  margin-left: 10px;
  position: relative;
}
#main
  .container
  .special-offer
  .item-l
  .special-list
  .special-item-r
  .row-wrapper
  .item
  .img-wrapper
  img {
  width: 84px;
  height: 84px;
}
#main
  .container
  .special-offer
  .item-l
  .special-list
  .special-item-r
  .row-wrapper
  .item
  .img-wrapper
  .img-message {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15px;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  line-height: 15px;
  color: #ffffff;
  font-size: 12px;
}
#main
  .container
  .special-offer
  .item-l
  .special-list
  .special-item-r
  .row-wrapper
  .item
  .message-wrapper {
  width: 75px;
  height: 69px;
  margin-top: 20px;
  font-size: 12px;
  margin-left: 10px;
}
#main
  .container
  .special-offer
  .item-l
  .special-list
  .special-item-r
  .row-wrapper
  .item
  .message-wrapper
  p:not(:first-child) {
  margin-top: 8px;
}
#main
  .container
  .special-offer
  .item-l
  .special-list
  .special-item-r
  .row-wrapper
  .item
  .message-wrapper
  p:first-child {
  color: #333;
}
#main
  .container
  .special-offer
  .item-l
  .special-list
  .special-item-r
  .row-wrapper
  .item
  .message-wrapper
  p:nth-child(2) {
  font-weight: 800;
  color: #e1251b;
}
#main
  .container
  .special-offer
  .item-l
  .special-list
  .special-item-r
  .row-wrapper
  .item
  .message-wrapper
  p:nth-child(3) {
  color: #999;
  font-size: 10px;
  text-decoration: line-through;
}
#main
  .container
  .special-offer
  .item-l
  .special-list
  .special-item-r
  .row-wrapper
  .item
  .message-wrapper
  p:nth-child(4)
  span {
  color: #e1251b;
}
#main .container .special-offer .item-r .goods-wrapper .goods-l {
  width: 270px;
  height: 265px;
  background: #f4f5f6;
  margin-left: 10px;
  text-align: center;
  line-height: 25px;
}
#main .container .special-offer .item-r .goods-wrapper .goods-r {
  width: 310px;
  height: 265px;
}
#main .container .special-offer .item-r .goods-wrapper .goods-r .goods-item {
  position: relative;
  width: 155px;
  height: 88.33px;
  text-align: center;
  font-size: 12px;
}
#main
  .container
  .special-offer
  .item-r
  .goods-wrapper
  .goods-r
  .goods-item
  img {
  width: 100px;
  height: 50px;
  margin: 5px auto 5px auto;
}
#main
  .container
  .special-offer
  .item-r
  .goods-wrapper
  .goods-r
  .goods-item:nth-child(odd):after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 1px;
  height: 50px;
  background: linear-gradient(180deg, white, #eeeeee, white);
  top: 18px;
  right: 0;
}
#main .container .special-offer .item-r .goods-wrapper .goods-l .logo {
  width: 70px;
  margin: 20px auto 10px auto;
}
#main .container .special-offer .item-r .goods-wrapper .goods-l .product {
  width: 130px;
  height: 130px;
  margin: 10px auto 0 auto;
}
#main .container .special-offer .item-r {
  width: 590px;
  height: 100%;
  background: #ffffff;
  margin-left: 10px;
}
#main .container .nice-goods {
  width: 100%;
  height: 260px;
  margin-top: 10px;
}
#main .container .nice-goods .nice-goods-l {
  width: 190px;
  height: 260px;
  background-image: url(../images/nice-m-1.png);
  background-size: contain;
}
#main .container .nice-goods .nice-goods-l .nice-goods-message {
  width: 160px;
  height: 90px;
  background-image: url(../images/nice-m-2.png);
  background-size: contain;
  margin: 10px auto 0 auto;
  color: #ffffff;
  position: relative;
  overflow: hidden;
}
#main .container .nice-goods .nice-goods-l .nice-goods-message .info {
  margin: 60px 0 0 20px;
  font-size: 16px;
}
#main
  .container
  .nice-goods
  .nice-goods-l
  .nice-goods-message
  .nice-goods-icon {
  position: absolute;
  top: 62px;
  left: 105px;
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  text-align: center;
  line-height: 9px;
  font-size: 7px;
}
#main
  .container
  .nice-goods
  .nice-goods-l
  .nice-goods-message
  .nice-goods-icon
  svg{
    transform: translateX(-1px);
  }
#main .container .nice-goods .nice-goods-r {
  width: 990px;
  height: 260px;
  background: #ffffff;
  margin-left: 10px;
  overflow: hidden;
  position: relative;
}
#main .container .nice-goods .nice-goods-r .nice-goods-inner {
  width: 200%;
  position: absolute;
  animation: nzgoods 20s linear infinite;
}
#main .container .nice-goods .nice-goods-r .nice-goods-inner a {
  color: #3c3c3c;
}
#main .container .nice-goods .nice-goods-r .nice-goods-inner:hover {
  animation-play-state: paused;
}
#main .container .nice-goods .nice-goods-r .nice-goods-inner span {
  width: 50%;
}
@keyframes nzgoods {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}
#main .container .nice-goods .nice-goods-r .item {
  width: 198px;
  height: 260px;
  background: #ffffff;
  text-align: center;
}
#main .container .nice-goods .nice-goods-r img {
  margin: 20px auto 0 auto;
}
#main .container .nice-goods .nice-goods-r p {
  margin: 20px 0 0 0;
  font-size: 16px;
}
#main .container .core {
  width: 100%;
  height: 340px;
  margin-top: 10px;
}
#main .container .core .core-item-1,
#main .container .core .core-item-2,
#main .container .core .core-item-3,
#main .container .core .core-item-4 {
  width: 290px;
  height: 340px;
  background: #ffffff;
}
#main .container .core .core-item-1 .title,
#main .container .core .core-item-2 .title,
#main .container .core .core-item-3 .title,
#main .container .core .core-item-4 .title {
  position: relative;
  width: 100%;
  height: 60px;
  line-height: 60px;
}
#main .container .core .core-item-1 .title .message,
#main .container .core .core-item-2 .title .message,
#main .container .core .core-item-3 .title .message,
#main .container .core .core-item-4 .title .message {
  margin-left: 15px;
  font-size: 20px;
  font-weight: 1000;
}
#main .container .core .core-item-1 .title .core-icon-1,
#main .container .core .core-item-2 .title .core-icon-1,
#main .container .core .core-item-3 .title .core-icon-1,
#main .container .core .core-item-4 .title .core-icon-1 {
  display: block;
  width: 18px;
  height: 18px;
  margin: 23px 0 0 8px;
  font-size: 10px;
  border-radius: 50%;
  border: 1px solid #e1251b;
  color: #e1251b;
  line-height: 12px;
  text-align: center;
}
#main .container .core .core-item-1 .title .core-icon-1 svg,
#main .container .core .core-item-2 .title .core-icon-1 svg,
#main .container .core .core-item-3 .title .core-icon-1 svg,
#main .container .core .core-item-4 .title .core-icon-1 svg{
  transform: translateX(-1px);
}
#main .container .core .core-item-2,
#main .container .core .core-item-3,
#main .container .core .core-item-4 {
  margin-left: 10px;
}
#main .container .core .core-item-1 .core-carusel {
  width: 100%;
  height: 280px;
  overflow: hidden;
}
#main .container .core .core-item-1 .core-carusel .slider {
  width: 160px;
  height: 160px;
  position: relative;
  perspective: 2500px;
  transform-style: preserve-3d;
  margin: 20px auto 0 auto;
}
#main .container .core .core-item-1 .core-carusel .slider input[type="radio"] {
  position: relative;
  top: 147%;
  left: 50%;
  width: 15px;
  height: 15px;
  margin: 0 8px 0 0;
  cursor: pointer;
  transform: translateX(-36px);
}
#main
  .container
  .core
  .core-item-1
  .core-carusel
  .slider
  input[type="radio"]:last-child {
  margin: 0;
}
#main .container .core .core-item-1 .core-carusel .slider label {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.4s;
}
#main .container .core .core-item-1 .core-carusel .slider .core-radio-info {
  width: 290px;
  height: 40px;
  position: relative;
  top: 112%;
  transform: translateX(-66px);
  opacity: 0;
  transition: opacity 0.3s linear;
  text-align: center;
  line-height: 23px;
}
#main
  .container
  .core
  .core-item-1
  .core-carusel
  .slider
  .core-radio-info
  p:nth-child(2) {
  font-size: 16px;
  color: #e1251b;
}
#main
  .container
  .core
  .core-item-1
  .core-carusel
  .slider
  .core-radio-info.active {
  opacity: 1;
}

#main .container .core .core-item-1 .core-carusel .slider #slide1 {
  background: url(../images/core-l-1.png);
  background-size: cover;
}
#main .container .core .core-item-1 .core-carusel .slider #slide2 {
  background: url(../images/core-l-2.png);
  background-size: cover;
}
#main .container .core .core-item-1 .core-carusel .slider #slide3 {
  background: url(../images/core-l-3.png);
  background-size: cover;
}
#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3 {
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3), 0 12px 6px rgba(0, 0, 0, 0.2);
  /* x y z景深 */
  transform: translate3d(0%, 0, 50px);
}
#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide1 {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  transform: translate3d(35%, 0, -50px);
}
#s1:checked ~ #slide3,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2 {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  transform: translate3d(-35%, 0, -50px);
}
#main .container .core .core-item-2 .core-title-list {
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  margin-top: 5px;
}
#main .container .core .core-item-2 .core-title-list li {
  width: 60px;
  height: 30px;
  background: #f6f6f6;
  margin-left: 10px;
  text-align: center;
  line-height: 30px;
  border-radius: 10px;
}
#main .container .core .core-item-2 .core-product-list li {
  width: 260px;
  height: 70px;
  background: #ffffff;
  margin: 5px auto 0 auto;
  overflow: hidden;
}
#main .container .core .core-item-2 .core-product-list li a .core-icon-2 {
  width: 28.8px;
  height: 40.8px;
  background-size: cover;
  text-align: center;
  overflow: hidden;
  margin: 10px 0 0 10px;
}
#main
  .container
  .core
  .core-item-2
  .core-product-list
  li:nth-child(1)
  a
  .core-icon-2 {
  background-image: url(../images/core-m-1.png);
}
#main
  .container
  .core
  .core-item-2
  .core-product-list
  li:nth-child(2)
  a
  .core-icon-2 {
  background-image: url(../images/core-m-3.png);
}
#main
  .container
  .core
  .core-item-2
  .core-product-list
  li:nth-child(3)
  a
  .core-icon-2 {
  background-image: url(../images/core-m-4.png);
}
#main
  .container
  .core
  .core-item-2
  .core-product-list
  li:nth-child(1)
  a
  .core-icon-2
  .top {
  margin-top: 2px;
  color: #e6ac36;
  width: 20px;
}
#main
  .container
  .core
  .core-item-2
  .core-product-list
  li:nth-child(2)
  a
  .core-icon-2
  .top {
  margin-top: 2px;
  color: #b3aea4;
  width: 20px;
}
#main
  .container
  .core
  .core-item-2
  .core-product-list
  li:nth-child(3)
  a
  .core-icon-2
  .top {
  margin-top: 2px;
  color: #d47b45;
  width: 20px;
}
#main
  .container
  .core
  .core-item-2
  .core-product-list
  li
  a
  .core-icon-2
  .number {
  color: #ffffff;
  margin-top: 3px;
  font-weight: 800;
}
#main .container .core .core-item-2 .core-product-list li a .core-img-1 {
  width: 68px;
  height: 68px;
  margin-left: 25px;
}
#main .container .core .core-item-2 .core-product-list li a .core-text {
  width: 90px;
  margin: 10px 0 0 30px;
  color: #333;
}
#main .container .core .core-item-3 .core-product-item {
  width: 260px;
  height: 128px;
  margin: 10px auto 0 auto;
  background-size: contain;
}
#main .container .core .core-item-3 .core-product-item:nth-child(2) {
  background-image: url(../images/core-m-7.png);
}
#main .container .core .core-item-3 .core-product-item:nth-child(3) {
  background-image: url(../images/core-m-8.png);
}
#main .container .core .core-item-3 .core-product-item .item-message-wrapper {
  width: 120px;
  overflow: hidden;
  margin: 10px 10px;
}
#main .container .core .core-item-3 .core-product-item .item-message-wrapper p {
  color: #333;
}
#main
  .container
  .core
  .core-item-3
  .core-product-item
  .item-message-wrapper
  .tip
  .item {
  display: inline-block;
  margin-top: 10px;
  font-size: 12px;
  padding: 2px 2px 2px 2px;
}
#main
  .container
  .core
  .core-item-3
  .core-product-item
  .item-message-wrapper
  .tip
  .item:nth-child(1) {
  border: 1px solid #e1251b;
  color: #e1251b;
}
#main
  .container
  .core
  .core-item-3
  .core-product-item
  .item-message-wrapper
  .tip
  .item:nth-child(2) {
  border: 1px solid #596fab;
  color: #596fab;
  margin-left: 5px;
}
#main
  .container
  .core
  .core-item-3
  .core-product-item
  .item-message-wrapper
  .number {
  margin-top: 30px;
  font-size: 12px;
}
#main .container .core .core-item-3 .core-product-item .item-img {
  margin: 10px 0 0 10px;
}
#main .container .core .core-item-4 .card {
  width: 290px;
  height: 280px;
  background-image: url(../images/card-m-1.png);
  background-size: cover;
}
#main .container .core .core-item-4 .card .card-list li {
  width: 260px;
  height: 80px;
  margin: 0 auto;
  margin-top: 7px;
  overflow: hidden;
}
#main .container .core .core-item-4 .card .card-list .img-dom {
  width: 66px;
  height: 66px;
  background: #ffffff;
  border-radius: 50%;
  margin: 6px 0 0 10px;
  overflow: hidden;
}
#main .container .core .core-item-4 .card .card-list .img-dom img {
  margin: 10px 0 0 8px;
}
#main .container .core .core-item-4 .card .card-list .text-wrapper {
  width: 110px;
  margin: 10px 0 0 20px;
  line-height: 22px;
  font-size: 12px;
}
#main
  .container
  .core
  .core-item-4
  .card
  .card-list
  .text-wrapper
  p:nth-child(1) {
  color: #e1251b;
}
#main
  .container
  .core
  .core-item-4
  .card
  .card-list
  .text-wrapper
  p:nth-child(1)
  span {
  font-size: 18px;
  font-weight: 800;
}
#main
  .container
  .core
  .core-item-4
  .card
  .card-list
  .text-wrapper
  p:nth-child(2) {
  color: #999;
}
#main
  .container
  .core
  .core-item-4
  .card
  .card-list
  .text-wrapper
  p:nth-child(3) {
  color: #333;
}
#main .container .core .core-item-4 .card .card-list .more-wrapper .more {
  display: inline-block;
  margin: 13px 0 0 20px;
  width: 1px;
  line-height: 15px;
  vertical-align: middle;
  font-size: 12px;
}
#main .container .core .core-item-4 .card .card-list .more-wrapper {
  overflow: hidden;
}
#main .container .core .core-item-4 .card .card-list .more-wrapper .card-icon {
  display: block;
  color: #333;
  font-size: 8px;
  width: 10px;
  margin: 32px 0 0 20px;
}
#main .container-hd .square {
  margin: 0 -5px 0 5px;
}
#main .container-hd .square .title,
#main .container:nth-child(3) .recommend-list .title {
  width: 1190px;
  height: 55px;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  line-height: 60px;
}
#main .container-hd .square .title::before,
#main .container:nth-child(3) .recommend-list .title::before {
  content: "";
  display: inline-block;
  background-image: url(../images/square-m-1.png);
  background-position: 0 0;
  width: 25px;
  height: 20px;
  margin: 0 20px 0 0;
}
#main .container-hd .square .title::after,
#main .container:nth-child(3) .recommend-list .title::after {
  content: "";
  display: inline-block;
  background-image: url(../images/square-m-1.png);
  background-position: -25px 0;
  width: 25px;
  height: 20px;
  margin: 0 0 0 20px;
}
#main .container-hd .square .item-row .item-1 {
  width: 290px;
  height: 370px;
  background-image: url(../images/square-m-2.png);
  background-size: contain;
  margin: 10px 10px 0 0px;
}
#main .container-hd .square .item-row .item-2 {
  width: 290px;
  height: 370px;
  background-image: url(../images/square-m-3.png);
  background-size: contain;
  margin: 10px 10px 0 0;
}
#main .container-hd .square .item-row .item-3 .item {
  width: 290px;
  height: 180px;
  background: #ffffff;
  overflow: hidden;
  margin: 10px 10px 0 0;
}
#main .container-hd .square .item-row .item-3 .item:not(:first-child) {
  margin: 10px 0 0 0;
}
#main .container-hd .square .item-row .item-3 .item .item-title {
  width: 100%;
  height: 45px;
  line-height: 45px;
  font-size: 18px;
  margin: 0 0 0 20px;
  font-weight: 600;
}
#main .container-hd .square .item-row .item-3 .item .item-title span {
  font-size: 14px;
  font-weight: 400;
  color: #999999;
}
#main .container-hd .square .item-row .item-3 .item .item-img-wrapper img {
  margin: 15px 0 0 20px;
  width: 100px;
  height: 100px;
}
#main .container:nth-child(3) .recommend-list .list {
  width: 100%;
  background: #ffffff;
}
#main .container:nth-child(3) .recommend-list .list-wrapper {
  width: 1080px;
  margin: 10px auto 0 auto;
}
#main .container:nth-child(3) .recommend-list .list-wrapper .item {
  width: 180px;
  height: 60px;
  position: relative;
  background: #ffffff;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}
#main .container:nth-child(3) .recommend-list .list-wrapper .item .text-hd {
  margin: 12px 0 0 0;
  font-size: 18px;
  font-weight: 700;
}
#main .container:nth-child(3) .recommend-list .list-wrapper .item .text {
  margin: 5px 0 0 0;
  color: #999999;
}
#main
  .container:nth-child(3)
  .recommend-list
  .list-wrapper
  .item:not(:last-child)
  ::after {
  content: "";
  width: 1px;
  height: 45px;
  position: absolute;
  background: #eeeeee;
  right: 0px;
  top: 8px;
}
#main .container-hd:nth-child(4) .product-wrapper {
  margin: 0 -5px 10px 5px;
  overflow: hidden;
}
#main .container-hd:nth-child(4) .product-wrapper .item {
  width: 230px;
  height: 322px;
  background: #ffffff;
  margin: 10px 10px 0 0;
}
#main .container-hd:nth-child(4) .product-wrapper .item img {
  margin: 30px auto 20px auto;
}
#main .container-hd:nth-child(4) .product-wrapper .item .product-icon-1 {
  display: inline-block;
  font-size: 12px;
  background: #e1251b;
  color: #ffffff;
  padding: 0px 4px;
  border: 1px solid #e1251b;
}
#main .container-hd:nth-child(4) .product-wrapper .item .text {
  width: 190px;
  height: 43px;
  color: #333;
  margin: 0 auto;
  line-height: 21px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
#main .container-hd:nth-child(4) .product-wrapper .item .price {
  color: #e1251b;
  width: 90px;
  margin: 10px auto 0 auto;
}
#main .container-hd:nth-child(4) .product-wrapper .item .price span {
  font-size: 20px;
  font-weight: 700;
}
